= form_for @traktor, {:role => "form"} do |f|
  - if @traktor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@traktor.errors.count, "error")} prohibited this traktor from being saved:"
      %ul
        - @traktor.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, {:class => "form-control"}
      .form-group
        = f.label :cost
        = f.number_field :cost, {:class => "form-control"}
      .form-group
        = f.label :year
        = f.number_field :year, {:class => "form-control"}
      .form-group
        = f.label :usage
        = f.number_field :usage, {:class => "form-control"}
      .form-group
        = f.label :color
        = f.text_field :color, {:class => "form-control"}
      .form-group
        = f.label :description
        = f.text_field :description, {:class => "form-control"}
      .actions
        = f.button "Сохранить", {:class => "btn btn-default"}