.col-md-10.col-md-offset-1
  %h1 Тракторы для поднятия восстаний и поездок за рубеж
  - @traktors.each do |traktor|
    .row.panel.panel-default
      .panel-body
        .col-md-6
          = image_tag traktor.images.first.url, {class: "img-thumbnail"} unless traktor.images.empty?
        .col-md-6
          %h2= traktor.name
          %h4
            Цена:
            %strong
              = traktor.cost
              р.
          %h4
            Год:
            %strong
              = traktor.year
          %p.lead= traktor.description
          = link_to 'Подробнее', traktor, {class: "btn btn-primary"}
          - if current_user.try(:admin?) || current_user.try(:moderator)
            = link_to 'Редактировать', edit_traktor_path(traktor), {class: "btn btn-primary"}
            = link_to 'Удалить', traktor, :class => "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }