.col-md-10.col-md-offset-1
  %h1= @traktor.name
  .row.panel.panel-default
    .col-md-6.panel-body
      #carousel-example-generic.carousel.slide
        .carousel-inner
          -@traktor.images.each do |image|
            .item
              = image_tag image.url
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
          %span.icon-prev
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
          %span.icon-next
    .col-md-6
      %h2
        Цена:
        %strong
          = @traktor.cost
          р.
      %h3
        Год:
        %strong= @traktor.year
      %h4
        Пробег:
        %strong
          = @traktor.usage
          км
      %h4
        Цвет:
        %strong
          = @traktor.color

      %p.lead= @traktor.description
      -if user_signed_in?
        = link_to 'Купить', {controller: :traktors, action: :buy, :id => @traktor}, :class => "btn btn-primary", :method => :post
      - if current_user.try(:admin?) || current_user.try(:moderator)
        = link_to 'Редактировать', edit_traktor_path(@traktor), {class: "btn btn-primary"}
        = link_to 'Удалить', @traktor, :class => "btn btn-primary", :method => :delete, :data => { :confirm => 'Are you sure?' }