%h2 Регистрация
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .row
    .col-md-4
      .form-group
        = f.label :email, "Почта"
        = f.text_field :email, {:class => "form-control", :autofocus => true}
      .form-email_field
        = f.label :password, "Пароль"
        = f.password_field :password, {:class => "form-control"}
      .form-group
        = f.label :password_confirmation, "Подтвердите пароль"
        = f.password_field :password_confirmation, {:class => "form-control"}
      .actions
        = f.submit "Сохранить", {:class => "btn btn-primary"}
