%h1 Все юзеры

%table.table.table-striped.table-hover
  %tr
    %th Email
    %th admin
    %th moderator
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.admin
      %td= user.moderator
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New user', new_user_path
