= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :delivery_type, "Способ доставки"
        = f.select("delivery_type", "<option>Курьер</option><option>Самовывоз</option><option>Почта России</option>".html_safe,{}, {:class => "form-control"})
      .form-group
        = f.label :payment_type, "Способ платежа"
        = f.select("payment_type", "<option>Картой</option><option>Почкой</option>".html_safe,{}, {:class => "form-control"})
      .form-group
        = f.label :phone, "Контактный номер"
        = f.number_field :phone, {:class => "form-control"}
      .form-group
        = f.label :address, "Домашний адрес"
        = f.text_field :address, {:class => "form-control"}
      .form-group
      .actions
        = f.button "Оформить заказ", {:class => "btn btn-primary"}
