%h1 Текущие заказы

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Количество тракторов
      %th Итоговая цена
      %th Способ доставки
      %th Способ оплаты
      %th Контактный номер
      %th Адрес доставки
      %th Дата оформления
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.carts.count
        -cost = 0
        -order.carts.each do |cart|
          -cost += cart.traktor.cost
        %td
          %strong
            = cost
            р.
        %td= order.delivery_type
        %td= order.payment_type
        %td= order.phone
        %td= order.address
        %td= order.created_at
        %td= link_to 'Оплатить', {controller: :orders, action: :finish, :id => order}, :method => :post, class: "btn btn-success"
        %td= link_to 'Отказаться', order, :method => :delete, class: "btn btn-danger", :data => { :confirm => 'Вы уверены?' }
.well.well-sm
  %h3
    Реквизиты Traktorrr:
  %p ИНН 7707000000
  %p КПП 631000000
  %p ОКПО 09100000, ОКОНХ 96000
  %p р/сч 30230000000000012345
  %p к/сч 30100000000000023467
  %p БИК 043000123
  %p НОМЕР ЛИЦЕВОГО СЧЁТА 40810000000001234567
