%h1 Listing orders

%table.table.table-striped.table-hover
  %tr
    %th Delivery type
    %th Payment type
    %th Phone
    %th Address
    %th Finished
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.delivery_type
      %td= order.payment_type
      %td= order.phone
      %td= order.address
      %td= order.finished
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
