%p#notice= notice

%p
  %b Delivery type:
  = @order.delivery_type
%p
  %b Payment type:
  = @order.payment_type
%p
  %b Phone:
  = @order.phone
%p
  %b Address:
  = @order.address
%p
  %b Finished:
  = @order.finished

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
