= form_for @cart do |f|
  - if @cart.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cart.errors.count, "error")} prohibited this cart from being saved:"
      %ul
        - @cart.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :traktor_id
    = f.number_field :traktor_id
  .field
    = f.label :order_id
    = f.number_field :order_id
  .actions
    = f.submit 'Save'
