.col-md-10.col-md-offset-1
  %h1 Корзина
  - @user_carts.each do |cart|
    .row.panel.panel-default
      .panel-body
        .col-md-3
          = image_tag cart.traktor.images.first.url, {class: "img-thumbnail"}
        .col-md-9
          %h2= cart.traktor.name
          %p= cart.traktor.description
          .pull-right.text-right
            = link_to 'Отказаться', cart, :method => :delete, class: "btn btn-danger", :data => { :confirm => 'Вы уверены?' }
            %h4
              Цена:
              %strong
                = cart.traktor.cost
                р.
  .row.panel.panel-default
    .panel-body
      %h3.pull-right
        Итого:
        %strong
          = @total
          р.
  =link_to 'Оформить заказ', new_order_path, {:class => "btn btn-primary pull-right"}