%h1 Listing carts

%table.table.table-striped.table-hover
  %tr
    %th User
    %th Traktor
    %th Order
    %th
    %th
    %th

  - @carts.each do |cart|
    %tr
      %td= cart.user_id
      %td= cart.traktor_id
      %td= cart.order_id
      %td= link_to 'Show', cart
      %td= link_to 'Edit', edit_cart_path(cart)
      %td= link_to 'Destroy', cart, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cart', new_cart_path
