%h2 ВходNUUBBZZ
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = devise_error_messages!
  .row
    .col-md-4
      .form-group
        = f.label :email, "Почта"
        = f.text_field :email, {:class => "form-control", :autofocus => true}
      .form-email_field
        = f.label :password, "Пароль"
        = f.password_field :password, {:class => "form-control"}
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me, "Запомнить?"
      .actions
        = f.submit "Сохранить", {:class => "btn btn-primary"}

%script#bl_opn_widget_script{"data-opinion_id" => "1375", "data-width" => "540", src: "http://brainlook.org/assets/widget/get_widget.js", type: "text/javascript"}
