// Place all the styles related to the traktors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner{
  img{
    width:100%
  }
}

body { padding-top: 70px; }
section{
  margin-bottom: 50px;
}