= form_for @image do |f|
  - if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :traktor_id
    = f.number_field :traktor_id
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
