%h1 Listing images

%table.table.table-striped.table-hover
  %tr
    %th Traktor
    %th Url
    %th img
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.traktor_id
      %td= image.url
      %td= image_tag image.url, {class: "img-thumbnail"}
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
