!!!
%html
  %head
    %title Traktorrr
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    = render :partial => 'shared/header'
    -flash.each do |key, msg|
      .flashMessage.hide
        %p{:class => "#{key}"}
          =msg
    %section.container
      = yield
    = javascript_include_tag "application"